! special
!Rxvt.transparent : true
!Rxvt.shading     : 190
Rxvt.scrollBar   : false
Rxvt.font        : xft:Monaco:size=11

!*.foreground  : #262626
!*.background  : #ffffff
!*.cursorColor : #5a5758
!
!! black
!*.color0:       #231f20
!*.color8:       #737171
!
!! red
!*.color1:       #ee2e24
!*.color9:       #ee2e24
!
!! green
!*.color2:       #00782a
!*.color10:      #00782a
!
!! yellow
!*.color3:       #ffd300
!*.color11:      #ffd300
!
!! blue
!*.color4:       #0096d3
!*.color12:      #009ddd
!
!! magenta
!*.color5:       #98005d
!*.color13:      #98005d
!
!! cyan
!*.color6:       #84b817
!*.color14:      #84b817
!
!! white
!*.color7:       #787777
!*.color15:      #bebebe

! PaperColor Theme
!*.foreground  : #262626
URxvt.foreground: #4D4D4C
URxvt.background: #EEEEEE
! black
URxvt.color0: #EDEDED
URxvt.color8: #969694
! red
URxvt.color1: #D7005F
URxvt.color9: #D7005F
! green
URxvt.color2: #718C00
URxvt.color10: #718C00
! yellow / orange
URxvt.color3: #D75F00
URxvt.color11: #D75F00
! blue
URxvt.color4: #4271AE
! magenta
URxvt.color5: #8959A8
! cyan
URxvt.color6: #3E999F
URxvt.color14: #3E999F
! white
URxvt.color7: #4D4D4C
URxvt.color15: #F5F5F5
