snippet =>
	\Rightarrow
snippet ==>
	\Longrightarrow
snippet ->
	\rightarrow
snippet ->
	\longrightarrow
snippet <=
	\Leftarrow
snippet <=
	\Longleftarrow
snippet <-
	\leftarrow
snippet <-
	\longleftarrow
snippet NEGATE
	\neg
snippet >=
	\geq
snippet =<
	\leq
